body {
    text-align:center ;
    
}

.menu{
    position: fixed;
    background:white ;
    top:0px;
    width: 100% ;
    z-index: 10;
}

.links{
    display: inline; 
    padding-left: 33px; 
    padding-right: 25px; 
    font-family: fantasy; 
    font-size: 20px
}

#contato{
    background: gray;
}
#contato iframe{
    width: 100%;
}